#sobre-mim{
    text-align: right;
}

#foto-perfil{
    border-radius: 100%;
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
}

#atributo-img{
    border-radius: 100%;
    max-width:60px;
    max-height:60px;
    width: auto;
    height: auto;
}
#img-formacao{
    border-radius: 100%;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}

h2 {
    color: #a81431;
}

section, #vivencia-profissional {
    padding-top: 8%;
}

#card-empresa{
    width: 362px;
    height: 400px;
}
#img-empresa{
    width: 250px;
    align-self: center;
}

#contato-img{
    width: 20px;
    height: 20px;
}

footer{
    padding-top: 5%;
    background-color: #4d5056;
    color: black;
}

